stages:
  - lint
  - test
  - coverage

default:
  image: node:20
  cache:
    paths:
      - node_modules/
  before_script:
    - npm ci

lint:
  stage: lint
  script:
    - npm run lint

test:
  stage: test
  script:
    - npm test -s
  artifacts:
    when: always
    expire_in: 1 week
    paths:
      - artifacts/
      - cache/

coverage:
  stage: coverage
  script:
    - npm run coverage
  artifacts:
    when: always
    expire_in: 1 week
    paths:
      - coverage/
      - coverage.json
      - gas-analysis/gas-report.md
